section{
    display : flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 10px auto;


    th{
        background: #2ECC71;
        color : white;
       img{
           width: 10px;
           height: 10px;
           
       }
       
    }

    a{
        text-decoration: underline;
        cursor: pointer;
        color: black;
    }

    tbody {
        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 5px;
        }
    }


 
}
