@import './_styles.scss';

header{
    display: inline-flex;
    //justify-content: space-between;
    width : 100%;
    height: 60px;
    background: $green;
    text-align: center;
    
   // @include align-vertical;

    img{
        width: 200px;
        float: left;
        margin-left: 10px;
    }

    h1{
        color: white;
        height: 100%;
        font-size: 25px;
        margin: 0 auto;
        @include align-vertical;
    }
}